LOCALHOST=YOUR_HOST
PORT=YOUR_PORT
API_URL=YOUR_API_URL
MONGODB_URI=YOUR_MONGODB_URI
ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET=YOUR_REFRESH_TOKEN_SECRET
EMAIL=your_email@example.com
EMAIL_APP_PASSWORD=your_email_app_password
STRIPE_STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret