HOST=YOUR_HOST
PORT=YOUR_PORT
MONGODB_URI=YOUR_MONGODB_URI
ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET=YOUR_REFRESH_TOKEN_SECRET
EMAIL=your_email@example.com
EMAIL_APP_PASSWORD=your_email_app_password